.grid-container {
    display: grid;
        grid-template-columns: 1fr 3fr;
}

.sidebar {
    background-color: skyblue;
    padding: 16px;

    display: grid;
    grid-column: 1/2;

    grid-template-rows: 2fr repeat(6, 1fr) 1fr repeat(3,1fr);
    gap: 4px;
    align-items: center;
}

.header {
    grid-column: 2/3;
}